<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Catalogue restaurant">
  <meta name="theme-color" content="#ECCCB2"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Kanit&family=PT+Sans+Narrow&display=swap" rel="stylesheet">
  <link rel="icon" href="./icons/happy (3).png">
  <link rel="apple-touch-icon" href="./happy (3).png">
  <script src="https://kit.fontawesome.com/1252cb82a1.js" crossorigin="anonymous"></script>
  <title>Restaurant Catalogue</title>
  <link rel="manifest" href="./app.webmanifest">
</head>
<body>
  <a href='' class="skip-link">SKIP KE KONTEN</a>
  <header class="navbar">
    <div class="navbar-hamburger">
      <button id="hamburgerButton"><i class="fas fa-bars" aria-hidden="true"></i></button>
    </div>
    <div class="nav-logo">
      <h1>Restaurant Catalogue</h1>
    </div>  
    <nav id="drawerNav" class="drawer_nav">
      <ul>
        <li><a href="/">Restaurant</a></li>
        <li><a href="#/like">Fav Restaurant</a></li>
        <li><a href="https://www.linkedin.com/in/nafis-zexe-875053220/">About Us</a></li>
      </ul>
    </nav>
  </header>
  
  <div class="hero">
    <img src="./food_hero.jpg" alt="">
  </div>
  
  <main id="mainContent" tabindex="0">
  </main>

  <footer class="footer">
    <p>NAFIS ZEXE WEBSITE CATALOGUE RESTAURANT @2022</p>
  </footer>
</body>
</html>

